*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

header{
    padding: 35px;
    background-color: black;
}

header h1{
    color: white;
}

/* ATE QUI HEADER */

.introducao{
    padding: 30px 4%;
    width: 100%;
    background-color: blue;
}

.introducao h1{
    padding: 40px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

/* INTRODUCAO */

.artistas{
    width: 100%;
    height: 380px;
    padding: 20px 2%;
    border-radius: 10px;
    margin-top: 20px;
    transition: 1s;
    background-color: green;
}

.artistas:hover{
   background-color: gray;
   
}

.container img{
    float: left;
    border-radius: 30px;
    width: 350px;
    height: 350px;
}

.biografia{
    width: 100%;
    max-width: 900px;
    padding: 10px 2%;
    margin-top: 80px;
    margin-right: 40px;
    height: 200px;
    text-align: center;
    float: right;
    /* background-color: red */
}

.biografia p{
    margin-top: 10px;
}


