*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Art" ;
    src: url("../projetoNoticia/fonts/Tempting.otf");
}

html,body{
    height: 100%;
}

header{
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 25px;
    background-image: url("../projetoNoticia/img/header.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between;
}

header h1{
    font-family: "Art";
    width: 400px;
    font-size: 40px;
    color: #FCEFC9;
    cursor: pointer;
}

ul{     
    display: flex;
    list-style: none;
    text-decoration: none;
}

li{
    border-radius: 10px ;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 5px 5px 3px #FCEFC9;
}

li a{
    margin-right: 20px;
    color: #000000;
    text-decoration: none;
}

li:hover{
    color: black;
    background-color: #FCEFC9;
    border-radius: 10px;
    box-shadow: 5px 3px 0px  #FCEFC9;
}


/* ATE AQUI HEADER */

section{
    width: 100%;
    background-color: #FCEFC9;
    /* background:linear-gradient(#DDBA80,#D3B37A,#E1BF8A,#B08854, #C49B69); */
}

.introducao{
    padding: 30px 4%;
    width: 100%;
}

.intro h1{
    margin: 10px 20px;
    font-size: 60px;
    letter-spacing: 25px;
    text-transform: uppercase;
    text-align: center;
}

.intro p{
    font-family: "Art";
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

/* INTRODUCAO */

.container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    cursor: pointer;
    /* background-color: red; */
}

a{
    text-decoration: none;
    list-style: none;
    color: black;
}

 .np{
    width: 100%;
    height: 430px;
    padding: 20px 2%;
    border-radius: 20px;
    margin-top: 70px;
    cursor: pointer;
    transition: 1s;
    box-shadow: 10px 10px 3px gray;
    /* background-color: green; */
}

.np:hover{
    color: white;
    background-color: gray;   
}

.biografia{
    width: 100%;
    height: 350px;
    max-width: 900px;
    padding: 10px 2%;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    /* background-color: white; */
}

.biografia h2{
    font-size: 35px;
}

.biografia p{
    padding: 10px 2%;
    font-size: 20px;
    margin-top: 5px;
}

.container img{
    border-radius: 30px;
    width: 350px;
    height: 350px;
}

.artistas{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ns{
    width: 50vw;
    height: 300px;
    padding: 10px 0px;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.8s;
    /* text-decoration: none;
    list-style: none;
    color: black; */
    /* background-color: purple; */
}

.leonardo{
    box-shadow: 10px 10px 3px #73634F;
}
.rafael{
    box-shadow: 10px 10px 3px #6E96A3;
}

.leonardo:hover{
    color: white;
    background-color: #73634F;
}

.rafael:hover{
    color: white;
    background-color: #6E96A3;
}

.nscontainer{
    width: 100%;
    height: 280px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /* background-color: red; */

}

.ns > .nscontainer > img{
    margin-top: 30px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.nsbiografia{
    width: 400px;
    height: 270px;
    text-align: center;
    /* background-color: white; */
}

.nsbiografia h2{
    font-size: 28px;
}

.nsbiografia p{
    font-size: 16px;
    /* margin-top: 3px; */
    padding: 10px;
}

footer{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#b19166,#CDA87C,#CFBA8F,#C0AE91,#B5A395);
}

footer img{
    width: 250px;
    height: 100%;
    margin-bottom: 10px ;
    /* background-color: red; */
}

footer p{
    margin-top: 40px;
}

/***********ATÉ AQUI MENU PRINCIPAL**************/


.adam{
    width: 100vw;
    height: 500px;
    text-align: center;
    /* background-color: red; */
}

.adam img{
    width: 900px;
    height: 450px;
    margin-top: 25px;
}